<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <title>RESstroyExport. Unit page.</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>

<body>
<div th:replace="templates/header::MyHeader"></div>
<div id="line"></div>

<div th:replace="templates/menu::menu"></div>

<div id="center">
    <p2>UNIT. SOME INFO IN CENTER</p2>
</div>

<!--<div th:replace="templates/right::right"></div>-->

<div th:replace="templates/footer::footer"></div>

</body>
</html>